header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;
    
  }

  img {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
  
  @media (min-width: 768px) {
    header {
      height: 60vh;
    }
  
  }
  
