header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;

    
  }

 
/* 
  img {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
   */