.navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navbar-username {
    margin-right: 1rem;
  }
  
  .navbar-logout {
    margin-left: 1rem;
  }
  
  .navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .navbar-nav {
    display: flex;
    list-style-type: none;
  }
  
  .nav-item {
    margin-left: 1rem;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
  }
  
  .nav-link:hover {
    transform: scaleY(1.5) !important;
  }
  
  
  @media (max-width: 767px) {
    .navbar {
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
    }
  
    .navbar-nav {
      width: 100%;
      margin-bottom: 1rem;
    }
  
    .navbar-right {
      width: 100%;

      display: flex;
      justify-content: center;
      order: -1
    }
  
    .form-control {
      width: 40%;
    }
    .navbar-username {
      font-size: 15px;
    }
    .nav-link{
      font-size: 15px;
      
    }
  }
  
  

    @media (max-width: 1024px) and (min-width: 768px) {
    .navbar-right {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
    }
    }



