.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .welcome {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #00b0ff, #b3ffb3, #ffff00);
    font-size: 36px;
  }

  .logo {
    max-width: 30%;
  }