.logout-button {

    padding: 10px 20px;
    background-image: linear-gradient(to right, #00b0ff, #b3ffb3, #ffff00);
    border: none;
    border-radius: 10px;
    color: black;
 
    text-align: center;
    text-decoration: none;

    font-size: 12px;

  }
  

  @media (max-width: 768px)  {
  
    .logout-button{
      font-size: 8px;
      font-weight: bold;
    }
    }